<div class="pt-4">
    <footer data-aos="flip-down" class="footer-text text-center">
      <div class="footer-icon">
        <a class="icon social fb" href="https://www.instagram.com/rizka_apit/">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="icon social git" href="https://github.com/Rizka96/">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon social in" href="https://www.linkedin.com/in/rizka-indah-puspita-1273b81b4/">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <p class="py-5">Copyright &copy;2021 by Rizka Indah Puspita</p>
    </footer>
</div>
