<nav class="navbar navbar-expand-lg navbar-info bg-light" data-aos="fade-down">
    <div class="container">
      <div class="col-12 col-md-2">
        <a class="navbar-brand" routerLink="/">
          <img src="../../../assets/logo/logo_shopping.png" width="70" height="70" class="d-inline-block align-center" alt="">
        </a>
      </div>
      <div class="navbar-collapse col-12 col-md-8 pr-3 justify-content-end" id="navbarNavAltMarkup">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li>
            <i class="fa fa-cart-plus" aria-hidden="true" routerLink="/cart"></i>
          </li>
          <li ngbNavItem >
            <a ngbNavLink routerLink="/">Home</a>
          </li>
          <li ngbNavItem *ngIf="!userIsAuthenticated">
            <a ngbNavLink routerLink="/auth/register">Register</a>
          </li>
          <li *ngIf="!userIsAuthenticated">
            <button type="button" class="btn login-btn btn-success mx-2" aria-haspopup="true" aria-expanded="false" routerLink="/auth/login">Login</button>
          </li>
          <li *ngIf="userIsAuthenticated">
            <button type="button" class="btn login-btn btn-danger mx-2" aria-haspopup="true" aria-expanded="false" (click)="onLogout()">Logout</button>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
